* {
   background-color: lightblue;
   font-family: Georgia, 'Times New Roman', Times, serif;
   -webkit-font-smoothing: antialiased; /* need these for every page*/
   text-rendering: optimizeLegibility; /* need these for every page*/
   margin: 0;
   
}
body {
    background: white;
    margin: 10px;
}
h1 {
    text-align: center;
    font-size: 3em;
    margin: 0 0 20px 0;
}
h2 {
    color:rgba(88, 87, 87, 0.973);
    background: white;
    padding: 10px 10px 0px 10px;
}
.container {
   width: 600px;
   background-color: white;
   border: dotted 2px blue;
   justify-content: center;
   margin: 10px auto;
   padding: 20px;
   border-radius: 25px;

   
}
p { 
    background-color: white;
    padding: 10px;
    line-height: 1.6;
    font-size: 14px;
}
a {
    background-color: white;
    padding: 5px 60px;
}
ol {
    list-style-type: decimal;
}
ul, ul li, ol, ol li {
    background-color: white;
    line-height: 1.6;
    font-size: 14px;
}
ul {
    list-style-type: square;
}
ul li::marker {
    color: blue;
}
